/* Inquiry_emp.css */

.inquiry-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.inquiry-card {
  width: 48%;
  margin-bottom: 20px;
}

.inquiry-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body-content {
  max-height: 70vh; /* 모달의 최대 높이 설정 */
  overflow-y: auto; /* 콘텐츠가 넘칠 경우 스크롤 */
}

.inqBtn{
  background-color: #847ec7; /* 버튼 배경색 */
}

.modalCloseBtn{
    background-color: #847ec7; /* 버튼 배경색 */
}

.modalSendBtn{
    background-color: #847ec7; /* 버튼 배경색 */
}

.centered-text {
  font-size: 2rem; /* 글자 크기 조정 (기본 폰트 크기보다 큼) */
  margin: 1rem 0; /* 위아래 간격 추가 */
  padding: 0.5rem; /* 패딩 추가 */
  font-weight: bold; /* 글씨 굵게 설정 */
  width: 100%; /* 가로 폭 전체 차지 */
  text-align: center; /* 텍스트 가운데 정렬 */
}