.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 20px;
  margin-top: 100px; /* 헤더 높이만큼의 마진을 추가하여 겹침 방지 */
  margin-left: 60px; /* 왼쪽에 기본 마진 추가 */
}
